html {
  zoom: 150%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  font-family: "Berlin Sans FB";
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #00B7FF;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  padding: 8px;
  margin-bottom: 50px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
  border: 2px solid #00B7FF;
  border-radius: 5px;
}

.button:hover {
  background-color: #00B7FF;
  border: 2px solid #00B7FF;
  border-radius: 10%;
  color: white;
}

.button:active {
  background-color: #05e1ff;
  border: 2px solid #05e1ff;
  border-radius: 10%;
  color: white;
}

.button:focus {
  outline: 0;
  box-shadow: none;
}

.history {
  text-decoration: none;
  font-size: 15px;
  font-family: "Berlin Sans FB";
  color: lightgrey;
}

.historyTodo {
  font-size: 15px;
  font-family: "Berlin Sans FB";
  text-decoration: line-through;
  color: #8e8e8e;
}

.todo {
  font-size: 15px;
  font-family: "Berlin Sans FB";
}

.todo:hover {
  text-decoration: line-through;
}

.blue-text {
  font-family: "Berlin Sans FB";
}

.center {
  font-family: "Berlin Sans FB";
  font-size: 15px;
}

.oh-yeah {
  font-family: "Berlin Sans FB";
  font-size: 15px;
}

.header {
  font-size: 50px;
}
